{% extends 'main.html'%}
{% load static %}
{% block content%}

    {% if request.user.is_authenticated %}
    <div>
        <h3>Welcome, {{ request.user.username }}!</h3>
    </div>
    {% endif %}

    <div class="row">
        {% for product in products %}
        <div class="col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top img-fluid" src="{{product.imageURL}}" alt="{{product.name}}" style="height: 200px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title"><strong>{{product.name}}</strong></h6>
                    <hr>
                    <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                    <a href="#" class="btn btn-outline-success">View</a>
                    <h4 class="float-right"><strong>${{product.price|floatformat:2}}</strong></h4>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock content %}